.grandParentContaniner {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.parentContainer {
  display: table-cell;
  padding-top: 50%;
}

.img-logo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.box-type-user {
  display: flex;
  flex-direction: column;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
