<div>

  <mat-card class="container-user">
    <span style="display: flex">
      <img class="avatar" [src]="avatar" alt="">
    </span>
    <span style="display: flex; justify-content: center; margin-top: 1%">
      <input id="imagen1" name="imagen1" type="file" hidden (change)="fileChangeEvent($event)" placeholder="Upload a file...">
      <button mat-stroked-button (click)="link()" color="primary">Cambiar Foto</button>
    </span>

    <form #newUserForm="ngForm">
      <div class="flex-container">
        <!-- name -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="" [(ngModel)]="customer.name" #name="ngModel" id="name" name="name" required>
          <mat-error *ngIf="name.dirty || name.touched">Anotar Nombre</mat-error>
        </mat-form-field>
        <!-- adress -->
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput [(ngModel)]="customer.adress" #adress="ngModel" id="adress" name="adress" required>
          <mat-error *ngIf="adress.dirty || adress.touched">Anotar Dirección</mat-error>
        </mat-form-field>
        <!-- Area -->
        <mat-form-field appearance="outline">
          <mat-label>Área</mat-label>
          <input matInput [(ngModel)]="customer.workArea" #workArea="ngModel" id="workArea" name="workArea" required>
          <mat-error *ngIf="workArea.dirty || workArea.touched">Anotar Área</mat-error>
        </mat-form-field>
        <!-- phone -->
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput type="number" [(ngModel)]="customer.phone" #phone="ngModel" id="phone" name="phone" required>
          <mat-error *ngIf="phone.dirty || phone.touched">Anotar Telefono</mat-error>
        </mat-form-field>
        <!-- email -->
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput [(ngModel)]="customer.email" #email="ngModel" id="email" name="email" required>
          <mat-error *ngIf="email.dirty || email.touched">Anotar Correo</mat-error>
        </mat-form-field>
        <!-- pass -->
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="customer.password" #password="ngModel" id="password" name="password"
            required>
          <mat-error *ngIf="password.dirty || password.touched">Anotar Contraseña</mat-error>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <mat-card-actions align="end">
        <div style="margin-right: 2%">
          <span [matTooltip]=errorToShow [matTooltipClass]="'tooltip-size'" (mouseenter)="getPopMessage($event)">
            <button *ngIf="isNew" id="submitUser" mat-raised-button color="primary" (click)="editCustomer()" [disabled]="!newUserForm.form.valid">Editar</button>
          </span>
        </div>
        <div>
          <button mat-raised-button color="warn" routerLink="/tickets-customer">Cancelar</button>
        </div>

      </mat-card-actions>
    </form>
  </mat-card>

</div>
